@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* animacion logo principal */
@keyframes moveSideToSide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-move-rotate {
  animation: moveSideToSide 10s ease-in-out infinite, rotate 10s linear infinite;
}

/* Fondo del universo */
body {
  background-image: url('/stars.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.animate-rotate {
  animation: rotate 10s linear infinite;
}